<div class='widget-contact' [ngClass]="isEverythingAwesome() ? 'awesome' : 'awful'">

	<div class='window-frame'>
		<div class='window'>
			<div class='pane top'></div>
			<div class='pane bottom'></div>
		</div>
	</div>

	<div class='content' [ngSwitch]="isEverythingAwesome()">
		<div class='status' *ngSwitchCase="true">All closed</div>
		<div *ngSwitchDefault>
			<div class='status'>Open</div>
			<div class='details' [ngSwitch]="awfulSensors().length">
				<div *ngSwitchCase="1">{{awfulSensors()[0].name}}</div>
				<div *ngSwitchDefault>{{awfulSensors().length}} things open</div>
			</div>
		</div>
	</div>
</div>
