<div class='widget-climate'>
	<div class='outdoorWeather' *ngIf="devices.hasOutdoorWeather()">
		{{devices.getOutdoorWeather().temperature}}
		{{devices.getOutdoorWeather().humidity}}
		{{devices.getOutdoorWeather().wind}}
	</div>

	<div class='building'>
		<div class='roof'></div>
		<div *ngFor="let device of getDevices()" class='floor'>
			<span class='temperature' *ngIf='device.temperature'>{{device.temperature}}&deg;</span>
			<span class='humidity' *ngIf='device.humidity'>{{device.humidity}}&deg;</span>
		</div>
	</div>
</div>
