<div class='widget-climate'>
	<div class='outdoorWeather' *ngIf="outdoorWeather">
		<div class='conditions'>
			<span class="icon-{{iconMap[outdoorWeather.weatherIcon]}}"></span>
		</div>
		<div class='temperature'>
			{{outdoorWeather.temperature}}&deg;
		</div>
		<div class='humidity'>
			<span class='icon-humidity'></span> {{outdoorWeather.humidity}}%
		</div>
		<div class='wind'>
			<span class='icon-w-windy'></span> {{outdoorWeather.wind}}
		</div>
	</div>

	<div class='building'>
		<div class='roof'></div>
		<div *ngFor="let device of getDevices()" class='floor'>
			<span class='temperature' *ngIf='device.temperature'>{{device.temperature}}&deg;</span>
			<span class='humidity' *ngIf='device.humidity'>{{device.humidity}}&deg;</span>
		</div>
	</div>
</div>
