@import '../../style/_variables';

:host {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.widget {
	border: 2px solid #fff;
	border-radius: 3px;
	padding: 5px;
	position: relative;
	display: flex;
	height: 33vh;

	margin: 1vw;
}

my-widget-contact {
	width: 37vw;
}

my-widget-door-control {
	flex: 1 1 auto;
}

my-widget-switch {
	width: 37vw;
}

my-widget-climate {
	width: 37vw;
	height: 60vh !important;
}

.placeholder.row {
	flex: 1 1 auto;
	width: 100%;
}
