@import '../../style/_variables';

:host {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.widget {
	border: 2px solid #fff;
	border-radius: 3px;
	padding: 5px;
	position: relative;

	margin: $grid-gutter-width/2;
}

my-widget-contact {
	flex: 2 1 auto;
}

my-widget-door-control {
	flex: 2 1 auto;
}

my-widget-switch {
	flex: 1 1 auto;
}

my-widget-climate {
	flex: 1 2 auto;
}

.placeholder {
	flex: 1 2 auto;
}
