@import '../../../style/_variables';

$building-color: rgba(255, 255, 255, 0.9);
$background-color: $brand-success;
$warn-color: $brand-warning;

$totalHeight: 150px;
$totalWidth: 150px;
$doorFrameWidth: 3px;

$roofWidth: ($totalWidth * .75);
$roofHeight: ($totalWidth * .25);

$wallWidth: ($totalWidth * .6);
$wallHeight: ($totalHeight * .4);
$wallMargin: ($roofWidth - $wallWidth) / 2;

$buildingHeight: $roofHeight + $wallHeight;
$buildingMarginHeight: ($totalHeight - $buildingHeight) / 2;

$holeWidth: ($totalWidth * .45);
$holeHeight: ($totalHeight * (1/3));
$holeTop: $buildingHeight + $buildingMarginHeight - $holeHeight;
$holeLeft: (($totalWidth - $wallWidth) / 2) + ($wallWidth - $holeWidth) / 2;

$doorHeight: $holeHeight - $doorFrameWidth;
$doorWidth: $holeWidth - ($doorFrameWidth * 2);
$doorTop: $buildingHeight + $buildingMarginHeight - $doorHeight;
$doorLeft: (($totalWidth - $wallWidth) / 2) + ($wallWidth - $doorWidth) / 2;

.widget-door-control {
	height: 100%;
	background: $background-color;
	display: flex;
	justify-content: center;
	align-items: center;

	transition: background-color 0.5s;

	&.warn, &.warn .hole {
		background: $brand-warning;
	}
}

.garage {
	width: $totalWidth;
	height: $totalHeight;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: relative;
}

.roof {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 $roofWidth/2 $roofHeight $roofWidth/2;
	border-color: transparent transparent $building-color transparent;
}

.walls {
	margin: 0 $wallMargin;
	width: $wallWidth;
	min-height: $wallHeight;
	background: $building-color;
}

.hole {
	position: absolute;
	top: $holeTop;
	left: $holeLeft;

	width: $holeWidth;
	height: $holeHeight;

	background: $background-color;
	border: $doorFrameWidth solid white;
	border-bottom: 0;
}

.door {
	position: absolute;
	top: $doorTop;
	left: $doorLeft;

	width: $doorWidth;
	height: $doorHeight;

	background: $building-color;
	box-shadow:
		inset 0px 0px 6px #ccc;

	&.opening {
		animation: door-opening 2s infinite linear;
	}

	&.closing {
		animation: door-closing 2s infinite linear;
	}

	&.open, &.closing {
		height: 0;
	}
}

@keyframes door-opening {
	to {
		height: 0;
	}
}

@keyframes door-closing {
	to {
		height: $doorHeight;
	}
}
